<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/base :: head"></th:block>
<link rel="stylesheet" href="css/update.css" type="text/css">
</head>
<body>
	<th:block th:insert="fragments/header :: header"></th:block>
	<main>
		<h1>
			<span class="page-tytle">パスワードの変更</span>
		</h1>
		<table>
			<tr>
				<td style="color: red;" th:text="${error}"></td>
			</tr>
		</table>
		<!-- 		<form th:action="@{/password}" th:object="${employee}" method="post">
			<table>
				<tr>
					<th>・パスワード</th>
					<td><input type="text" th:field="*{password}" th:errorclass="error__input"> <span
						th:errors="*{password}" class="error__message"></span></td>
				</tr>
			</table>
			<input type="submit" value="変更" class="submit-btn">
		</form> -->
		<form th:action="@{/password}" method="post">
			<table>
				<tr>
					<th>・パスワード</th>
					<td><input type="text" th:name="password"> <span style="color: red;"
						th:text="${validationError}" class="error__message"></span></td>
				</tr>
				<tr>
					<th>・パスワード</th>
					<td><input type="text" th:name="password_Check"> <span style="color: red;"
						th:text="${validationError}" class="error__message"></span></td>
				</tr>
			</table>
			<input type="submit" value="変更" class="submit-btn">
		</form>
	</main>
</body>
</html>