
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/base :: head"></th:block>
<link th:href="@{/css/employee.css}" rel="stylesheet" type="text/css">
<title>Insert title here</title>
</head>
<body>
	<th:block th:insert="fragments/header :: header"></th:block>
	<main>
		<div th:object="${employee}" class="form">
			<h1>
				<span class="page-title"><span th:text="*{username}"></span>さんの詳細情報</span>
			</h1>
			<table>
				<tr>
					<th>職員番号</th>
					<td th:text="*{id}"></td>
				</tr>
				<tr>
					<th>名前</th>
					<td th:text="*{username}"></td>
				</tr>
				<tr>
					<th>性別</th>
					<td th:text="*{sex}"></td>
				</tr>
				<tr>
					<th>生年月日</th>
					<td th:text="*{#dates.format(birthday, 'yyyy/MM/dd')}"></td>
				</tr>
				<tr>
					<th>
						住所<br> <br>
					</th>
					<td>
						<span th:text="'〒' + *{address.post_Number}"></span>
						<br>
						<span th:text="*{address.address1} + *{address.address2}"></span>
					</td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td th:text="*{email}"></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td th:text="*{telephone_Number}"></td>
				</tr>
				<tr>
					<th>入社日</th>
					<td th:text="*{#dates.format(join_Date, 'yyyy/MM/dd')}"></td>
				</tr>
				<tr>
					<th>部署名</th>
					<td th:text="*{department.name}"></td>
				</tr>
				<tr>
					<th>権限</th>
					<td th:if="*{authorities.size() == 1}">一般</td>
					<td th:if="*{authorities.size() == 2}">管理者</td>
				</tr>
			</table>
			<div class="button_area">
				<a th:href="@{/admin/edit/{id}(id=*{id})}" class="link">編集</a>
				<a th:href="@{/admin/delete/{id}(id=*{id})}" class="link" th:if="${loggedEmployeeId} != ${employee.id}" id="deleting">削除</a>
				<a th:href="@{/admin/password/{id}(id=*{id})}" class="link">パスワード変更</a>
			</div>
		</div>
	</main>
	<script type="text/javascript" th:src="@{/js/delete_function.js}"></script>
</body>
</html>