<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/base :: head"></th:block>
<link th:href="@{/css/update.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<th:block th:insert="fragments/header :: header"></th:block>
	<main>
		<h1>
			<span class="page-tytle">
				<span th:text="${employeeUpdateRequest.username}"></span>
				さんの詳細情報変更
			</span>
		</h1>
		<form th:action="@{/admin/edit/{id}(id=${employeeUpdateRequest.id})}" th:object="${employeeUpdateRequest}" method="post">
			<table>
				<tr>
					<th>名前</th>
					<td>
						<input type="text" th:field="*{username}" th:errorclass="fieldError">
						<span style="color: red;" th:errors="*{username}" class="error__message"></span>
					</td>
				</tr>
				<tr>
					<th>性別</th>
					<td>
						<span th:each="sex : ${sexes}">
							<input type="radio" name="sex" th:value="${sex.value}" th:id="${sex.key}" th:checked="${sex.value}==*{sex}" style="width: 20px;">
							<label th:for="${sex.key}" th:text="${sex.value}"></label>
						</span>
						<span style="color: red;" th:errors="*{sex}" class="error__message"></span>
					</td>
				</tr>
				<tr>
					<th>生年月日</th>
					<td>
						<input type="date" th:field="*{birthday}" th:errorclass="fieldError">
						<span style="color: red;" th:errors="*{birthday}" class="error__message"></span>
					</td>
				</tr>
				<tr>
					<th>住所</th>
					<td>
						<input style="display: none;" type="text" th:field="*{address.id}" th:value="*{address.id}" th:errorclass="fieldError">
						郵便番号
						<input type="text" id="post_Number" th:field="*{address.post_Number}" th:errorclass="fieldError">
						<span style="color: red;" th:errors="*{address.post_Number}" class="error__message"></span>
						住所
						<input type="text" id="address1" th:field="*{address.address1}" th:errorclass="fieldError">
						<span style="color: red;" th:errors="*{address.address1}" class="error__message"></span>
						住所
						<input type="text" id="address2" th:field="*{address.address2}" th:errorclass="fieldError">
						<span style="color: red;" th:errors="*{address.address2}" class="error__message"></span>
					</td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td>
						<input type="email" th:field="*{email}" th:errorclass="fieldError">
						<input style="display: none;" type="text" name="requestEmail" th:value="*{email}">
						<span style="color: red;" th:errors="*{email}" class="error__message"></span>
					</td>
				</tr>
				<tr>
					<th>連絡先</th>
					<td>
						<input type="text" th:field="*{telephone_Number}" th:errorclass="fieldError">
						<span style="color: red;" th:errors="*{telephone_Number}" class="error__message"></span>
					</td>
				</tr>
				<tr>
					<th>入社日</th>
					<td>
						<input type="date" th:field="*{join_Date}" th:errorclass="fieldError">
						<span style="color: red;" th:errors="*{join_Date}" class="error__message"></span>
					</td>
				</tr>
				<tr>
					<th>部署名</th>
					<td>
						<select id="singleSelect" name="department">
							<option th:if="${requestDepartment} == null" th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"
								th:selected="*{department.id} == ${department.id}"></option>
							<option th:if="${requestDepartment} != null" th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"
								th:selected="${requestDepartment} == ${department.id}"></option>
						</select>
						<span style="color: red;" th:if="${#fields.hasErrors}" th:errors="*{department}" class="error__message"></span>
					</td>
				</tr>
				<tr>
					<th>管理権限</th>
					<td>
						<select name="authority" th:if="${requestAuthority} == null">
							<option value="false" th:selected="*{authorities.size() == 1}">一 般</option>
							<option value="true" th:selected="*{authorities.size() == 2}">管理者</option>
						</select>
						<select name="authority" th:if="${requestAuthority} != null">
							<option value="false" th:selected="*{authority} == false">一 般</option>
							<option value="true" th:selected="*{authority} == true">管理者</option>
						</select>
					</td>
				</tr>
			</table>
			<div class="button_area">
				<input type="submit" value="変更" class="submit-btn link">
			</div>
		</form>
	</main>
</body>
<script type="text/javascript" src="https://postcode-jp.com/js/postcodejp.js" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/PostcodeJP.js}"></script>
</html>
