<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/base :: head"></th:block>
  <link th:href="@{css/employee.css}" rel="stylesheet" type="text/css">
<title>職員情報</title>
</head>
<body>
<main>
<th:block th:insert="fragments/header :: header"></th:block>
  <div th:object="${employee}">
      <h1 class="emp-info">
        <span class="page-title" >職員情報</span>
      </h1>
      <table>
        <tr>
          <th>職員番号</th>
         <td th:field="*{id}"></td> 
        </tr>
        <tr>
          <th>名前</th>
           <td th:field="*{username}" ></td> 
        </tr>
        <tr>
          <th>性別</th>
           <td th:field="*{sex}"></td>
        </tr>
        <tr>
          <th>生年月日</th>
           <td th:field="*{birthday}"></td> 
        </tr>
        <tr>
          <th>住所</th>
          <td th:field="*{address}"></td> 
        </tr>
        <tr>
          <th>メールアドレス</th>
         <td th:field="*{email}"></td> 
        </tr>
        <tr>
          <th>電話番号</th>
          <td th:field="*{telephone_Number}"></td> 
        </tr> 
        <tr>
          <th>入社日</th>
         <td th:field="*{join_Date}"></td> 
        </tr>
        <tr>
          <th>部署名</th>
          <td th:field="*{department}" ></td> 
        </tr>
      </table> 
      <div class = "button" align = "center">
        <button th:href="@{/delete/{id}{id=${employee.id}}"class="delete-btn">削除</button>
        <button th:href="@{/edit/{id}(id=${employee.id}}"class="update-btn">変更</button>
      </div>
    </div>
   </main>
</body>
</html>
