<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/base :: head"></th:block>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link th:href="@{css/index.css}" rel="stylesheet" type="text/css">
<title>従業員一覧</title>
</head>
<body>
	<th:block th:insert="fragments/header :: header"></th:block>
	<main class="user-index">
		<table border="1" bordercolor="#8B4513"
			class="user-index__table-header" style="table-layout: fixed;">
			<tr class="user-index__table-header__column">
				<th width="10">名前</th>
				<th width="5">性別</th>
				<th width="13">生年月日</th>
				<th width="13">入社日</th>
				<th width="10">部署名</th>
			</tr>
		</table>
		<div class="user-index__contents">
			<table border="1" bordercolor="#8B4513"
				class="user-index__contents__table-content"
				style="table-layout: fixed;" th:each="employee:${employees}">
				<tr class="user-index__contents__table-content__element"
					 th:object="${employee}">
					<td width="10" th:text="*{username}"></td>
					<td width="5" th:text="*{sex}"></td>
					<td width="13" th:text="*{birthday}"></td>
					<td width="13" th:text="*{join_Date}"></td>
					<td width="10" th:text="*{department}"></td>
					<button th:href="@{/detail/{id}(id=*{id})}" class="user-index__contents_details">詳細</button>
				</tr>
			</table>
			
			<!--ここのURLは要変更-->
			
			
		</div>
		<!--ページネーションのthymeleafは後ほど-->
		<ul style="display: flex;" class="user-index__pagenation">
			<li><a href="#" class="user-index__pagenation__before">前のページ</a>
			</li>
			<li class="this"><a href="?page=0&size=6"
				class="user-index__pagenation__num">1</a></li>
			<li><a href="?page=1&size=6" class="user-index__pagenation__num">2</a>
			</li>
			<li><a href="?page=2&size=6" class="user-index__pagenation__num">3</a>
			</li>
			<li><a href="?page=2&size=6" class="user-index__pagenation__num">4</a>
			</li>
			<li><a href="?page=2&size=6" class="user-index__pagenation__num">5</a>
			</li>
			<li><a href="?page=2&size=6" class="user-index__pagenation__num">6</a>
			</li>
			<li><a href="#" class="user-index__pagenation__after">次のページ</a>
			</li>

		</ul>
	</main>
</body>
</html>
