<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:insert="fragments/base :: head"></th:block>
<link rel="stylesheet" href="css/update.css" type="text/css">
</head>
<body>
	<th:block th:insert="fragments/header :: header"></th:block>
	<main>
		<h1>
			<span class="page-tytle">パスワードの変更</span>
		</h1>
		<table>
			<tr>
				<td style="color: red;" th:text="${error}"></td>
			</tr>
		</table>
		<form th:action="@{/password}" method="post">
			<table>
				<tr>
					<th>・新しいパスワード</th>
					<td>
						<input type="text" th:name="password">
					<span style="color: red;" th:each="errorList : ${validationError}"th:text="*{errorList}" class="error__message"></span> 
					</td>
				</tr>
				<tr>
					<th>・確認用</th>
					<td>
						<input type="text" th:name="password_Check">
						<span style="color: red;" th:each="errorList : ${validationError}"th:text="*{errorList}" class="error__message"></span>
					</td>
				</tr>
			</table>
			<div class="button_area">
				<input type="submit" value="変更" class="submit-btn link">
			</div>
		</form>
	</main>
</body>
</html>