<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="header">
	  <header>
	    <h1>アプリケーション名</h1>
	    <!-- <ul>
	      <li class="employee-name"><h3>【管理者】○○○○　○○○○さん</h3></li>
	      <li><a href="＃">職員の一覧</a></li>
	      <li><a href="＃">新規登録</a></li>
	      <li><a href="＃">ログアウト</a></li>
	    </ul> -->
	    <ul>
	      <li class="employee-name"><h3>○○○○　○○○○さん</h3></li>
	      <li><a href="＃">ログアウト</a></li>
	    </ul>
	  </header>	
	</th:block>
</body>
</html>