<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="header">
	<header>	  
		<th:block th:switch="${employee.role}" th:object="${employee}"> 

<!-- 管理者権限でログインした際のヘッダー -->
			<th:block th:case="4">
				<img th:src="@{/images/header_icon.png}">
				<h1>New Ring(管理者)</h1>
				<ul>
					<li class="employee-name">
						<a th:href = "@{/detail/{id}(id=*{id})}">
							<h3 th:text="*{name}">さん</h3>
						</a>
					</li>
					<li><a th:href="@{/index}">職員の一覧</a></li>
					<li><a th:href="@{/create}">新規登録</a></li>
					<li><a th:href="@{/password}">パスワードの変更</a></li>
					<li><a th:href="@{/logout}">ログアウト</a></li>
				</ul>
			</th:block>
			
<!-- 一般権限でログインした際のヘッダー -->
			<th:block th:case=*>
				<h1>New Ring</h1>
				<ul>
					<li class="employee-name">
						<a th:href="@{/detail/{id}(id=*{id})}">
							<h3 th:text="*{name}">さん</h3>
						</a>
					</li>
					<li><a th:href="@{/password}">パスワードの変更</a></li>
					<li><a th:href="@{/logout}">ログアウト</a></li>
				</ul>
			</th:block>
		</th:block>
	</header>	
	</th:block>
</body>
</html>