.container{
  position: relative;
  width: 100%;
  height:100vh;
  background-color:#FFAD90;
  
  
 
}

.app-head{
	 display:flex;
	 justify-content:center;
	 text-align:"center";
	 padding-top:150px;
} 

img{
	display:block;
	margin-right:10px;
}


.app-head_name{
	font-family:'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
	color:white;
	}


.login-form{
  width: 45%;
  height: 40%;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  padding-top:20px;
  position: absolute;
  margin: auto;
  text-align:center;
  background-color:#FFDBC9;
  color:#8B4513;
  
}
  input{
    margin:20px 0;
	height:20px;
	border:1px #FFAD90;
 
  }

  .login-btn{
    width:200px;
    color:#8B4513;
    background-color:white;
    height:30px;
  }
  .alert-danger{
  color:red;
  }

